
.personal-info{
    font-family: 'Chathura', sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    text-align: right;
    display: inline-block;
}

.personal-info-heading{
    height: 40px;
    font-family: 'Megrim', cursive;
    font-size: 4rem;
}

.my-image{
    border-radius: 5px;
}