.header-container{
  margin: 10px;
  padding: 3vw;
  font-size: 4rem;
  border-radius: 5px;
  background-image: linear-gradient(to top, rgba(255,0,0,0), #16425B);
  opacity: 0.8;
}

.info-container-personal{
  margin: 10px;
  padding: 3vw;
  font-size: 2rem;
  opacity: 0.8;
  border-radius: 5px;
  background-image: linear-gradient(to top, #FE7F2D, #E0F2E9);
  display: flex;
  flex-direction: row;
}

.tech-qualification-container{
  width: 40%;
  margin: 10px;
  background-image: linear-gradient(to top, #3B1C32, #F3EAF4);
  padding: 3vw;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.prev-qualification-container{
  background-image: linear-gradient(to bottom, #b3ff66, white);
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 40%;
  padding: 3vw;
  border-radius: 5px;
}